* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 10px;
}

.userSingle {
    border: 2px solid red;
    padding: 20px;
    display: inline-block;
}